.lvimrc
.DS_Store
/.idea/
/.vscode/
example.gitignore
auth.json

/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

README.txt
drush/drush.yml

/web/sites/*/files/

web/README.md
web/*.php
web/*.txt
web/*.config
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc
web/.htaccess
web/.gitattributes
web/.eslintrc.json
web/sites/example.settings.local.php
web/sites/example.sites.php
web/sites/development.services.yml
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/*/settings.local.php

node_modules
sites/*/files
sites/*/private
